<header class="header container">
  <div class="logo-container">
    <svg class="icon logo-icon" width="34" height="36">
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
  </div>
  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item"><a href="#about">About us</a></li>
      <li class="nav-item"><a href="#tours">Tours</a></li>
      <li class="nav-item"><a href="#reviews">Reviews</a></li>
      <li class="nav-item"><a href="#gallery">Gallery</a></li>
      <li class="nav-item"><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <button type="button" class="burger-menu" aria-label="menu">
    <svg class="icon burger-menu-icon" width="40" height="40">
      <use href="../img/sprite.svg#icon-menu"></use>
    </svg>
  </button>
  
</header>
