<section class="hero-section container">
  <h1 class="hero-title">
    Tours to <br class="hero-title-br1" />the
    <br class="hero-title-br2" />carpathians <br class="hero-title-br3" />from
    lviv
  </h1>
  <p class="hero-text">
    Journeys to the very heart of the Carpathians <br class="hero-text-br" />for
    those who want a real reboot
  </p>
  <div class="hero-wrap">
    <button type="button" class="book-btn">Book a tour</button>
    <ul class="social-media-list">
      <li class="social-media-item">
        <a href="#" target="_blank">
          <svg class="icon icon-social" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="#" target="_blank">
          <svg class="icon icon-social" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="#" target="_blank">
          <svg class="icon icon-social" width="40px" height="40px">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
